# Node.js dependencies
node_modules/
npm-debug.log
package-lock.json

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Build files
dist/
build/
coverage/

# OS-specific files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Misc
*.bak
